<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="../../css/Layout/layout3.css">

   
</head>
<body>
    <div class="flex-container">
        <div class="header"><p>header</p></div>
        <div class="slider-img"> <p>Slider-image</p></div>
        <div class="spacer"><p>Spacer</p></div>
        <div class="main-article">
            <div class="main-article-1 ar1"><p>Article</p></div>
            <div class="main-article-2 ar1"><p>Article</p></div>
            <div class="main-article-3 ar1"><p>Article</p></div>
        </div>
        <div class="second-article">
            <div class="second-article-1 ar2"><p>Article</p></div>
            <div class="second-article-2 ar2"><p>Article</p></div>
            <div class="second-article-3 ar2"><p>Article</p></div>
            <div class="second-article-4 ar2"><p>Article</p></div>
        </div>
        <div class="third-article">
            <div class="third-article-1"><p>Article</p></div>
            <div class="third-article-2">
                <div class="third-ar-1"><p>Article</p></div>
                <div class="third-ar-1"><p>Article</p></div>
            </div>
        </div>
        <div class="forth-article">
            <div class="forth-article-1"><p>Article</p></div>
            <div class="forth-article-1"><p>Article</p></div>
            <div class="forth-article-1"><p>Article</p></div>
        </div>
        <div class="copyright"><p>copyright</p>
    </div>
</body>
</html>