<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex</title>
    <link rel="stylesheet" href="../css/layout4.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>header</p>
            <div class="nav"> <p>nav</p></div>
        </div>

        <div class="section">
            <div class="section1">
                <div class="s1-header"><p>header</p></div>
                <div class="s1-main">
                    <div class="s1-main-f"></div>
                    <div class="s1-main-s"></div>
                    <div class="s1-main-t">
                        <div class="t1"></div>
                        <div class="t2"></div>
                    </div>
                    <div class="s1-footer"></div>
                </div>
            </div>

            <div class="section2">
                <div class="s2-header"></div>
                <div class="s2-main"></div>
            </div>
        </div>
        
        <div class="footer"><p>footer</p></div>
        
        
    </div>
    <!-- <img src="../img/layout4.jpg" alt=""> -->
</body>
</html>