<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="../../css/Layout/Layout2.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">

                <div class="logo">
                    <span class="p">P</span>ra <span class="p">R</span>oz
                </div>

                <div class="menu">
                    <ul>
                        <li>HOME</li>
                        <li>ABOUT</li>
                        <li>SERVICES</li>
                        <li>DESIGN</li>
                        <li>CONTACT</li>
                    </ul>
                </div>

                <div class="search-bar">
                    <input class="s1" type="text" placeholder="Type to Search">
                    <button class="s2">Search</button>
                </div>

            </div>

            <div class="mid">
                <div class="mid-left">
                    <h1>Web Desine & <br> <span class="dev">Development</span> <br> Course</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium incidunt, eius vitae in laborum consequatur labore laboriosam dolorem rem temporibus est culpa libero nesciunt nihil. Quod odit expedita eius ipsum!</p>
                    <button class="btn"> JOIN US</button>
                </div>

                <div class="mid-right">
                    <div class="login">
                        <h3>Login Here</h3>
                        <input type="email" placeholder="Enter Email Here">
                        <input type="password" placeholder="Enter Password Here">
                        <button >Login</button>
                        <p> Don't have an account ?</p>
                        <p> <a href="#">Sing up</a> here </p>
                        <p class="loginwith">Login in with </p>
                        <ul>
                            <li> <img src="../../img/Layout/nature-3.jpg" alt=""></li>
                            <li> <img src="../../img/Layout/nature-3.jpg" alt=""></li>
                            <li> <img src="../../img/Layout/nature-3.jpg" alt=""></li>
                            <li> <img src="../../img/Layout/nature-3.jpg" alt=""></li>
                            <li> <img src="../../img/Layout/nature-3.jpg" alt=""></li>
                           
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>