<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test 1</title>
    <link rel="stylesheet" href="/css/layout5.css">
</head>
<body>
  <div class="body ">
    <span>body</span>
      <div class="header">
            <span>header</span>
            <div class="nav">
                <span>nav</span>
            </div>
      </div>
      <div class="left">
         <span>left section</span>
         <div class="left-header">
            <span>header</span>
         </div>
         <div class="left-nav">
            <span>nav</span>
         </div>
         <div class="left-footer">
           <span>footer</span>
         </div>
      </div>
      <div class="right clearflex">
         <span>right section</span>
         <div class="right-header ">
            <span>header</span>
         </div>
         <div class="article">
              <span>Artical</span>
              <div class="article-header">
                <span>header</span>
              </div>
              <div class="article-p1">
                <span>P</span>
              </div>
              <div class="article-p2">
                <span>P</span>
              </div>
              <div class="article-footer">
                <span>Footer</span>
              </div>
            </div>
         <div class="article1">
              <span>Artical</span>
              <div class="article1-header">
                <span>header</span>
              </div>

              <div class="article1-p">
                <span>P</span>
              </div>

              <div class="article1-aside">
                <span>aside</span>
              </div>

              <div class="article1-footer">
                <span>Footer</span>
              </div>
            </div>
            <div class="rigt-footer">
              <span>Footer</span>
            </div>
      </div>
      <div class="main-footer">
        <span>
          footer
        </span>
      </div>
  </div>
</body>
</html>